  <div id="info_par" class="parallax-container bg_op">
    <a class="btn-floating btn-large waves-effect waves-light teal" href="/home"><i class="material-icons">home</i></a>

    <div class="parallax"><img src="https://lh4.ggpht.com/M1XTibfCgpi5pgjSDb7kXDh21N8fpn-8evzQVAX-qGFhSyArDmSuCAv1pjVp4jbAt_g=h900"></div>
  </div>

  <nav class="indigo">
    <div>
      <a href="#" class="indigo brand-logo">Your current collection</a>
      </ul>
    </div>
  </nav>


<!-- This loop generates all images from the database and creates a modal with unique index assign to it -->
  <div id="card_grid" class="row indigo">
    <% @images.each_with_index do |img,index|%>
      <%index=index+1%>
      <div id="grids" class="col s6">
        <a id="delete_btn" class="red darken-4 btn-floating btn-large waves-effect waves-light red btn modal-trigger" href="<%= img.id%>, #modal<%=index%>"><i class="material-icons">delete</i></a>

        <a href="/info/<%=img.id%>"><img id="user_pic" src ="<%= img.img_url%>"></a>

<!-- Delete confirmation modal pops up onclick with a form. The modal popped up is based on the clicked delete icon-->
        <div id="modal<%=index%>" class="modal">
          <div class="modal-content">
            <form action="/edit/<%=img.id%>" method="post">
              <input type="hidden" value="delete" name="_method">
            <h4>Confirm Delete ?</h4>
            <p>Pugtato is sad... :(</p>
            <img id='sadpug' src="http://deskbg.com/i/c/750x422/wpp/25/25007/sad-pug-desktop-background.jpg">
          </div>
          <div class="modal-footer">
            <button class="red darken-4 btn waves-effect waves-light" type="submit" name="action">Delete
             <i class="material-icons right">delete</i>
           </button>
           </form>
           <div id="nope">
             <button class="teal darken-4 btn waves-effect waves-light modal-close" name="action">Noooo!!!
              <i class="material-icons right">close</i>
             </button>
            </div>
          </div>
        </div>



      </div>
    <%end %>
  </div>



  <div id="catbelow" class="parallax-container bg_op">
    <div class="parallax"><img src="https://lh4.ggpht.com/M1XTibfCgpi5pgjSDb7kXDh21N8fpn-8evzQVAX-qGFhSyArDmSuCAv1pjVp4jbAt_g=h900"></div>
  </div>
