<div id="info_par" class="parallax-container bg_op">

<!-- home button -->
    <a class="btn-floating btn-large waves-effect waves-light indigo" href="/home"><i class="material-icons">home</i></a>

<!-- dashboard -->
    <a class="btn-floating btn-large waves-effect waves-light indigo" href="/edit"><i class="material-icons">view_module</i></a>

<!--add image button -->
      <a href="#modal1" class="modal-trigger btn-floating btn-large waves-effect waves-light teal"><i class="material-icons">add</i></a>

<!-- Modal Box for Upload -->
     <div id="modal1" class="modal">
        <div class="modal-content">
          <form action="/upload" method="post" enctype="multipart/form-data">
             <input type="file" name="image"/>
             <input type="submit" name="submit" value="Upload"/>
           </form>
       </div>
     </div>

  <div class="parallax"><img src="../images/bg2.jpg"></div>
</div>

<!-- middle section of content -->
     <div id="middle" class="section white">
       <div class="row container">
          <div class="image_content">
              <img src="<%= @info.img%>">
              <a id="comment_btn" class="btn-floating btn-large red modal-trigger" href="#modal2"><i class="large material-icons">mode_edit</i></a>

<!-- if user_id of photo is the same as current user then show delete icon -->
              <%if @info.user_id == current_user.id || current_user.id == admin %>
              <div>

                    <a id="delete_show" class="red darken-4 btn-floating btn-large waves-effect waves-light red btn modal-trigger" href="#modal4"><i class="material-icons">delete</i></a>

                    <div id="modal4" class="modal">
                      <div class="modal-content">
                        <form action="/edit/<%=@info.id%>" method="post">
                          <input type="hidden" value="delete" name="_method">
                            <h4>Confirm Delete ?</h4>
                            <p>Pugtato is sad... :(</p>
                          <div class="col s12">
                            <img id="pugtato" src="../images/sadpug.jpg">
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button class="red darken-4 btn waves-effect waves-light" type="submit" name="action">Delete
                         <i class="material-icons right">delete</i>
                       </button>
                       </form>
                       <div id="nope">
                         <button class="teal darken-4 btn waves-effect waves-light modal-close" name="action">Noooo!!!
                          <i class="material-icons right">close</i>
                         </button>
                        </div>
                      </div>
                      </form>
                    </div>
              </div>

              <%end%>

<!-- like button -->
            <div class="col s6 offset-s6">
              <div id="pawinfo" class=" transparent chip">
                  <a href="/likes/<%= @info.id%>"><img src="../images/blackpaw.png"><%=@likes%></a>
              </div>
            </div>
          </div>

<!-- loop to display comments with delete button index starts at 6 to avoid clashing with other modals -->
          <div id="comment_box">
            <% @comments.each_with_index do |comment,index| %>
            <%index=index+5%>

            <ul class="collection">
              <li class="collection-item avatar">
                 <i class="green material-icons circle">person</i>
                   <b><span id="titlename" class="title"><%= comment.user.username%> commented : </span></b>
                   <span id="box"> <%= comment.body %></span>

<!-- if comments were by user id then show delete comment option, admin gets to delete any comments -->

                  <% if comment.user_id == session[:user_id] || current_user.id == admin%>

                    <a id="delete_comment" class="red darken-4 btn-floating waves-effect waves-light red btn modal-trigger" href="#modal<%=index%>"><i class="material-icons">delete</i></a>

                    </a>

                    <div id="modal<%=index%>" class="modal">
                      <div class="modal-content">
                        <form action="/comment/<%=comment.id%>" method="post">
                          <input type="hidden" value="delete" name="_method">
                        <h4>Delete comment ?</h4>
                      </div>
                      <div class="modal-footer">
                        <button class="red darken-4 btn waves-effect waves-light" type="submit" name="action">Yes
                         <i class="material-icons right">delete</i>
                       </button>
                       </form>
                       <div id="nope">
                         <button class="teal darken-4 btn waves-effect waves-light modal-close" name="action">No
                          <i class="material-icons right">close</i>
                         </button>
                        </div>
                      </div>
                    </div>

                  <%end%>


                </li>
              </ul>
            <% end %>
          </div>



<!-- Modal to show comment box onclick -->
           <div id="modal2" class="modal">
             <div class="modal-content">
               <form class="col s12" action="/info/<%= @info.id%>/comments" method ="post">
                 <textarea length="30" id="textarea1" class="materialize-textarea" name ="body" required="" aria-required="true" length="30"></textarea>
             <div class="modal-footer">
               <button class="modal-action modal-close btn waves-effect waves-light">Comment<i class="material-icons right">comment</i></button>
             </form>
             </div>
           </div>
         </div>
       </div>
     </div>


<div class="parallax-container bg_op">
  <div class="parallax"><img src="../images/bg2.jpg"></div>
</div>
